<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">
<head>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
<section class="bg-black ">
    <div class="container px-5 py-12 mx-auto lg:px-20">
        <h1 class="mb-12 text-3xl font-medium text-white">
            Make new transfer
        </h1>

        <div
                class="flex flex-wrap items-end justify-start w-full transition duration-500 ease-in-out transform bg-black border-2 border-gray-600 rounded-lg hover:border-white ">

            <div class="mb-4 font-semibold tracking-widest text-white uppercase title-font">
                <h2>
                    Add new transfer with receipt:
                </h2>
                </br>
                <form action="/transfer" method="post" style="color: red">
                    Choose type of transaction: </br></br>
                    <label><input type="radio" name="transfer_type" value="InTransfer" required>In transfer</label></br>
                    <label><input type="radio" name="transfer_type" value="OutTransfer">Out transfer</label></br></br>
                    Amount: <input type="number" name="amount" id="amount" required></br>
                    From (optional): <input type="text" name="from_" id="from" required></br>
                    To (optional): <input type="text" name="to_" id="to" required></br>
                    Description (optional): <input type="text" name="descr" id="deacr"></br></br>

                    Choose a receipt: </br></br>
                    {% for receipt in receipts %}
                    <label><input type="radio" name="receipt_id" value={{receipt.id}} required>{{receipt.__repr__()}}</label></br></br>
                    {% endfor %}

                    <input type="submit" value="MAKE TRANSFER">
                </form>
            </div>
        </div>

    </div>

</section>
</body>
</html>