<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="PyCountant" content="manage your invoices and transfers">
    <title>Create Receipt</title>
    <link href="/static/style.css" rel="stylesheet">
</head>
<body>
<section class="main">
    <div class="container">
        <div class="flex">
            <a href="/" class="logo_href">
                <img src="/static/logo.jpg" alt="PyCountant -- manage your invoices and transfers" class="logo"
                     title="home"/>
            </a>

            <h1 class="">
                Create new receipt:
            </h1>

            <div class="block">
                <div class="login_info">{{auth_info}}</div>
                <form class="my_form big_form" action="/receipt" method="post">
                     <label class="form_item" for="date">Date:<input class="my_input" type="date" name="date"
                                                                        id="date"
                                                                        required></label>
                    <label class="form_item" for="amount">Amount:<input class="my_input" type="number" name="amount"
                                                                        id="amount" min="0" step="0.01"
                                                                        required></label>
                    <label class="form_item" for="client">Client (have to pay): <input class="my_input" type="text" name="client"
                                                                         id="client" required></label>
                    <label class="form_item" for="worker">Worker (issued): <input class="my_input" type="text" name="worker"
                                                                         id="worker" required></label>
                    <label class="form_item" for="vat_value">VAT value (optional): <input class="my_input" type="number"
                                                                                          min="0" step="0.01"
                                                                                          name="vat_value"
                                                                                          id="vat_value"></label>
                    <label class="form_item" for="net_amount">Net amount (optional): <input class="my_input"
                                                                                            type="number" min="0"
                                                                                            step="0.01"
                                                                                            name="net_amount"
                                                                                            id="net_amount"></label>
                    <label class="form_item" for="vat_percentage">VAT percentage (optional): <input class="my_input"
                                                                                                    type="number"
                                                                                                    min="0"
                                                                                                    step="0.01"
                                                                                                    name="vat_percentage"
                                                                                                    id="vat_percentage"></label>
                    <label class="form_item" for="descr">Description: <input class="my_input" type="text" name="descr"
                                                                             id="descr" required></label>
                    {% if not auth_info %}
                    <div class="form_item">
                        <input class="button" type="submit" value="add receipt">
                    </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>


</section>
</body>
</html>