<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="PyCountant" content="manage your invoices and transfers">
    <title>New Transfer</title>
    <link href="/static/style.css" rel="stylesheet">
</head>
<body>
<section class="main">
    <div class="container">
        <div class="flex">
            <a href="/" class="logo_href">
                <img src="/static/logo.jpg" alt="PyCountant -- manage your invoices and transfers" class="logo"
                     title="home"/>
            </a>

            <h1 class="">
                Make new transfer:
            </h1>
            <div class="block">
                <div class="login_info">{{auth_info}}</div>
                <form action="/transfer" method="post" class="my_form big_form">
                    <h3>Choose type of transaction: </h3>
                    <input type="radio" name="transfer_type" value="InTransfer" id="in" required>
                    <label for="in" class="radio">In transfer</label></br>
                    <input type="radio" name="transfer_type" value="OutTransfer" id="out">
                    <label for="out" class="radio">Out transfer</label></br>
                    </br><hr>
                    <h3>Enter values: </h3>
                    <label class="form_item">Amount (all the balance is calculated based on the invoice amount):
                        <input class="my_input" type="number" min="0" step="0.01" name="amount" id="amount"
                                                            required></label>
                    <label class="form_item">From (optional): <input class="my_input" type="text" name="from_"
                                                                     id="from"></label>
                    <label class="form_item">To (optional): <input class="my_input" type="text" name="to_"
                                                                   id="to"></label>
                    <label class="form_item">Description (optional): <input class="my_input" type="text" name="descr"
                                                                            id="deacr"></label></br>
                    <hr>
                    <h3>Choose a receipt (you cannot make a transfer before defining the receipt),
                        the following invoices are the only ones not used in any transaction: </h3>
                    {% for receipt in receipts %}
                    <input type="radio" name="receipt_id" value={{receipt.id}} required id={{receipt.id}}>
                    <label for={{receipt.id}} class="radio">{{receipt.__repr__()}}</label></br></br>
                    {% endfor %}
                    {% if not auth_info %}
                    <div class="form_item">
                        <input class="button" type="submit" value="MAKE TRANSFER">
                    </div>
                    {% endif %}

                </form>
            </div>
        </div>

    </div>

</section>
</body>
</html>