<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="PyCountant" content="manage your invoices and transfers">
    <title>Py-Countant</title>
    <link href="/static/style.css" rel="stylesheet">
</head>
<body>
<section class="main">
    <div class="container">
        <div class="flex">
            <a href="/" class="logo_href">
                <img src="/static/logo.jpg" alt="PyCountant -- manage your invoices and transfers" class="logo"
                     title="home"/>
            </a>
            <div class="menu">
                <div class="menu_item">
                    <button class="button"><a href="/create_receipt/">New
                        Receipt</a>
                    </button>
                </div>
                <div class="menu_item">
                    <button class="button"><a href="/create_transfer">New
                        Transfer</a>
                    </button>
                </div>
                <div class="menu_item">
                    <button class="button"><a href="/search">Search...</a>
                    </button>
                </div>
                <div class="menu_item">
                    <button class="button"><a href="">Special Transfer</a>
                    </button>
                </div>
                <div class="menu_item">
                    <button class="button"><a href="/logout">LOGOUT</a>
                    </button>
                </div>

            </div>
<div class="details">Logged user: {{user}}</div>

            </br>
            <h1 class="">
                Current balance:
            </h1>
            <div class="block">
                <span>Balance (account state): </span>{{balance.balance}}</br>
                <span>Gross income: </span>{{balance.gross_income}}</br>
                <span>Costs (expenses): </span>{{balance.costs}}</br>
                <span>Net balance: </span>{{balance.net_balance}}</br></br>
                <span>Due vat: </span>{{balance.due_vat}}</br>
                <span>Paid vat: </span>{{balance.paid_vat}}</br>
                <span>Vat balance (due minus paid): </span>{{balance.vat_balance}}</br></br>
                <span>Due tax: </span>{{balance.due_tax_30}}</br>
                <span>Paid tax: </span>{{balance.paid_tax}}</br>
                <span>Tax balance (due minus paid): </span>{{balance.income_tax_30}}</br></br>
                <span>Due profit: </span>{{balance.due_profit}}</br>
                <span>Paid profit: </span>{{balance.paid_profit}}</br>
                <span>Remaining profit (due minus paid): </span>{{balance.remaining_profit}}</br></br>
                <hr>
                <h3>Select the date range for the balance calculation:</h3>

                <form class="" action="/balance" method="post">
                    <label class="" for="from_date">From date:
                        <input class="my_input" type="date" name="from_date" id="from_date" required></label>
                    <label class="" for="to_date">To date:
                        <input class="my_input" type="date" name="to_date" id="to_date" required></label>
                    <div class="details">
                        <input class="button" type="submit" value="Generate">
                    </div>
                </form>
            </div>
            </br>
            <h1 class="">
                Latest transfers:
            </h1>
            {% for transfer in transfers %}
            <div class="block">
                <span>From: </span>{{transfer.from_}} </br>
                <span>Amount: </span>{{transfer.amount}}</br>
                <span>Type: </span>{{transfer.transfer_type}}</br>
                <span>Date: </span>{{transfer.date}}</br>
                <div class="details">
                    <button class="button"><a href="/transfer/{{transfer.id}}">Details</a>
                    </button>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>
</body>

</html>