<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="PyCountant" content="manage your invoices and transfers">
    <title>Py-Countant</title>
    <link href="/static/style.css" rel="stylesheet">
</head>
<body>
<section class="main">
    <div class="container">
        <div class="flex">
            <a href="/" class="logo_href">
                <img src="/static/logo.jpg" alt="PyCountant -- manage your invoices and transfers" class="logo"
                     title="home"/>
            </a>
             <div class="menu">
                <div class="menu_item">
                    <form action="/create_receipt">
                        <button class="button" type="submit">New Receipt
                        </button>
                    </form>
                </div>
                <div class="menu_item">
                    <form action="/create_transfer">
                        <button class="button" type="submit">New Transfer
                        </button>
                    </form>
                </div>
                <div class="menu_item">
                    <form action="/search">
                        <button class="button" type="submit">Search...
                        </button>
                    </form>
                </div>
                <div class="menu_item">
                    <form action="/info">
                        <button class="button" type="submit">Info
                        </button>
                    </form>
                </div>
                <div class="menu_item">
                    <form action="/logout">
                        <button class="button" type="submit">LOGOUT
                        </button>
                    </form>
                </div>

            </div>
<div class="details">Logged user: {{user}}</div>

            </br>
            <h1 class="">
                Current balance:
            </h1>
            <div class="block">
                <span>Balance (account state): </span>{{balance.balance}}</br>
                <span>Gross income: </span>{{balance.gross_income}}</br>
                <span>Costs (expenses): </span>{{balance.costs}}</br>
                <span>Net balance: </span>{{balance.net_balance}}</br>
                <span>Other costs (paid taxes and profits): </span>{{balance.other_costs}}</br></br>
                <span>Vat: due: </span>{{balance.vat_due}}</br>
                <span>Vat: paid: </span>{{balance.vat_paid}}</br>
                <span>Vat balance (due minus paid): </span>{{balance.vat_balance}}</br></br>
                <hr>
                <h3>Depending on the type of activity (tax settlement method):</h3>
                <h5>Option 1 (for taxes settled on the flat tax basis):</h5>
                <span>Tax (flat 19%): due: </span>{{balance.flat_tax_due}}</br>
                <span>Tax (flat) balance (due minus paid): </span>{{balance.flat_tax_balance}}</br></br>
                <span>Profit: due: </span>{{balance.profit_due_flat}}</br>
                <span>Profit: remaining (due minus paid): </span>{{balance.profit_remaining_flat}}</br>
                <h5>Option 2 (for taxes settled on the basis of a lump-sum tax on gross income):</h5>
                <span>Tax rate (lump-sum): </span>{{balance.lump_tax_rate}}</br>
                <span>Tax (lump-sum): due: </span>{{balance.lump_sum_tax_due}}</br>
                <span>Tax (lump-sum) balance (due minus paid): </span>{{balance.lump_sum_tax_balance}}</br></br>
                <span>Profit: due: </span>{{balance.profit_due_lump}}</br>
                <span>Profit: remaining (due minus paid): </span>{{balance.profit_remaining_lump}}</br>
                <hr>
                </br>
                <span>Tax: paid: </span>{{balance.tax_paid}}</br>
                <span>Profit: paid: </span>{{balance.profit_paid}}</br>
                </br>
                <hr>
                <h3>Select the date range for the balance calculation:</h3>

                <form class="" action="/balance" method="post">
                    <label class="" for="from_date">From date:
                        <input class="my_input" type="date" name="from_date" id="from_date" required></label>
                    <label class="" for="to_date">To date:
                        <input class="my_input" type="date" name="to_date" id="to_date" required></label>
                    <div class="details">
                        <input class="button" type="submit" value="Generate">
                    </div>
                </form>
                <hr>
                <h3>Or generate balance to all month:</h3>
                <div class="details">
                    <button class="button"><a href="/balance/month/">Balance to current month</a>
                    </button>
                     <button class="button"><a href="/balance/month/?months_back=1">Balance to last month</a>
                    </button>
                </div>


            </div>
            </br>
            <h1 class="">
                Latest transfers:
            </h1>
            {% for transfer in transfers %}
            <div class="block">
                <span>From: </span>{{transfer.from_}} </br>
                <span>Amount: </span>{{transfer.amount}}</br>
                <span>Type: </span>{{transfer.transfer_type}}</br>
                <span>Date: </span>{{transfer.date}}</br>
                <form action="/transfer/{{transfer.id}}" class="details">
                    <button class="button" type="submit">Details
                    </button>
                </form>
            </div>
            {% endfor %}

        </div>
    </div>
</section>
</body>

</html>