<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="PyCountant" content="manage your invoices and transfers">
    <title>Login</title>
    <link href="/static/style.css" rel="stylesheet">
</head>
<body>

<section class="main">
    <div class="container">
        <div class="flex">
            <a href="/" class="logo_href">
                <img src="/static/logo.jpg" alt="PyCountant -- manage your invoices and transfers" class="logo"
                     title="home"/>
            </a>

            <h1 class="">
                Please, log in:
            </h1>

            <div class="block">
                 <div class="login_info">{{login_info}}</div>
                <form class="my_form login_form" method="POST" action="/login">

                    <label class="form_item" for="username">
                        Username
                        <input class="my_input"
                               id="username" name="username" type="text" required>
                    </label>

                    <label class="form_item" for="password">
                        Password
                        <input class="my_input"
                               id="password" name="password" type="password" required>
                    </label>

                    <div class="form_item form_item_button">
                        <button type="submit"
                                class="button">
                            Sign In
                        </button>
                    </div>
                    </br>
                    <div id="reg_info_hrefs">
                        <a class="my_href" href="/register" >Register new user</a>
                        <a class="my_href" href="/info">Information</a>
                        </div>

                </form>
            </div>
        </div>
    </div>
</section>
</body>
<footer>T&D Gerstel &copy 2022</footer>
</html>