<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="PyCountant" content="manage your invoices and transfers">
    <title>Receipt</title>
    <link href="/static/style.css" rel="stylesheet">
</head>
<body>
<section class="main">
    <div class="container">
        <div class="flex">
            <a href="/" class="logo_href">
                <img src="/static/logo.jpg" alt="PyCountant -- manage your invoices and transfers" class="logo"
                     title="home"/>
            </a>

            <div class="block">
                <h3>No result! {{exception_info}}</h3>
                <div class="details">
              <button type="button" class="button"><a href="/">Back Home</a></button>
                    </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>