<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="PyCountant" content="manage your invoices and transfers">
    <title>Receipt</title>
    <link href="/static/style.css" rel="stylesheet">
</head>
<body>
<section class="main">
    <div class="container">
        <div class="flex">
            <a href="/" class="logo_href">
                <img src="/static/logo.jpg" alt="PyCountant -- manage your invoices and transfers" class="logo"
                     title="home"/>
            </a>
            <h1 class="">
                Receipt details:
            </h1>
            <div class="block">

                <span>Receipt with id: </span>{{receipt.id}}</br>
                <span>Amount: </span>{{receipt.amount}}</br>
                <span>Net amount: </span>{{receipt.net_amount}}</br>
                <span>Vat value: </span>{{receipt.vat_value}}</br>
                <span>Vat percentage (if given): </span>{{receipt.vat_percentage}}</br>
                <span>From: </span>{{receipt.client}}</br>
                <span>To: </span>{{receipt.worker}}</br>
                <span>Description: </span>{{receipt.descr}}</br>
                <div class="details">
                    <button class="button"><a href="/">Back</a></button>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>