<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="PyCountant" content="manage your invoices and transfers">
    <title>Login</title>
    <link href="/static/style.css" rel="stylesheet">
</head>
<body>

<section class="main">
    <div class="container">
        <div class="flex">
            <a href="/" class="logo_href">
                <img src="/static/logo.jpg" alt="PyCountant -- manage your invoices and transfers" class="logo"
                     title="home"/>
            </a>

            <h1 class="">
                New user registration:
            </h1>

            <div class="block">
                 <div class="login_info">{{register_info}}</div>
                <form class="my_form login_form" method="POST" action="/register">

                    <label class="form_item" for="username">
                        Username
                        <input class="my_input"
                               id="username" name="name" type="text" required>
                    </label>
                    <label class="form_item" for="email">
                        Email
                        <input class="my_input"
                               id="email" name="email" type="email" required>
                    </label>

                    <label class="form_item" for="password">
                        Password
                        <input class="my_input"
                               id="password" name="password" type="password" required>
                    </label>
                    <label class="form_item" for="conf_password">
                        Repeat password
                        <input class="my_input"
                               id="conf_password" name="conf_password" type="password" required>
                    </label>

                    <div class="form_item">
                        <button type="submit"
                                class="button">
                            Register
                        </button>
                    </div>
                    <div class="form_item">

                    </div>


                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>